html{
  font-size: 20px;
}
body{
  font-family:"Arial","Meiryo",sans-serif;
  text-align: center;
}
h1{
  font-family:"Josefin sans",sans-serif;
  text-shadow: 3px 3px 3px gray;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 4rem;
  text-align:center; 
  border-bottom: solid 3px rgb(113,113,114);
}
.pink{
  color:rgb(255,192,203)
}

.skyblue{
  color:skyblue
}
#basic > p{
  font-weight: bold;
}